* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Assets/cupcake-tela-fundo.jpg');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 1.5rem;
}

.Card {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    background-color: #F0E8C2;
    padding-top: 30px;
    padding-bottom: 60px;
}

.Heard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heard>img {
    width: 1100px;
    height: 600px;
    border-radius: 24px;
}

.Main {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Main>h1 {
    font-family: 'Alice', serif;
    font-size: 40px;
    color: #291B1A;
    padding-bottom: 10px;
    padding-top: 20px;
}

.Main>p {
    font-family: 'Alice', serif;
    font-size: 1rem;
    padding-bottom: 10px;
    color: #573A37;
}

.Main>span {
    font-family: 'Alice', serif;
    font-size: 1rem;
    color: #573A37;
}

.Ingredientes > h2{
    font-family: 'Alice', serif;
    color: #291B1A;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 12px;
    gap: 4px;
}

.Ingredientes > ul {
    font-family: 'Alice', serif;
    font-size: 1rem;
    color: #573A37;
    list-style-position: inside;
    padding-left: 8px;
}

.Ingredientes > ul > li {
    padding: 7px;
}

.Preparo > h2 {
    font-family: 'Alice', serif;
    color: #291B1A;
    padding-top: 20px;
}

.Preparo > p {
    font-family: 'Alice', serif;
    font-size: 1rem;
    color: #573A37;
    padding-top: 20px;
}

.Final {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;

}

.Final > span {
    font-family: 'Alice', serif;
    font-size: 1rem;
    color: #F0E8C2;
}